
body {
    font-family : 'Roboto', sans-serif;
    font-size   : 17px;
    line-height : 1.7em;
    color       : #353e55;
    font-weight : 100;
    background  : #ffffff;
    }

h1, h2, h3, h4, h5, h6 {
    margin : 0 0 15px;
    color  : #0e1555;
    }

h1 {
    font-size   : 36px;
    line-height : 1.2em;
    font-weight : 700;
    }

h2 {
    font-size   : 30px;
    line-height : 1.5em;
    font-weight : 400;
    }

h3 {
    font-size   : 24px;
    line-height : 1.5em;
    font-weight : 300;
    }

h4 {
    font-size   : 18px;
    line-height : 1.5em;
    font-weight : 300;
    }

h5 {
    font-size   : 16px;
    line-height : 1.5em;
    font-weight : 500;
    }

h6 {
    font-size   : 15px;
    line-height : 24px;
    }

a {
    color              : #fd367e;
    text-decoration    : none;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
    }

a,
a:active,
a:focus,
a:active {
    text-decoration : none;
    outline         : none
    }

a:hover,
a:focus {
    text-decoration : none;
    color           : #FF8000;
    }

p {
    margin-bottom : 20px;
    }

p.lead {
    font-size   : 19px;
    line-height : 1.7em;
    }

ul {
    margin     : 0;
    padding    : 0;
    list-style : none;
    }

.btn {
    padding        : 10px 30px;
    margin-bottom  : 0;
    font-size      : 16px;
    border-radius  : 0;
    font-weight    : 500;
    border-width   : 2px;
    text-transform : uppercase;
    }

.btn-lg {
    font-size : 18px;
    padding   : 15px 30px
    }

.btn-primary {
    background-color : #101890;
    border-color     : #101890;
    }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:focus {
    background   : transparent;
    color        : #101890;
    border-color : #101890;
    }

.btn-default {
    color            : #ffffff;
    background-color : transparent;
    border-color     : #ffffff;
    }

.btn-default:hover,
.btn-default:focus,
.btn-default:active:focus {
    background-color : transparent;
    color            : #FF8000;
    border-color     : #FF8000;
    }
.btn-cfp:active:focus {
    background-color : transparent;
    color            : green;
    border-color     : red;
    }

button:focus,
.btn:focus,
.btn:active:focus {
    outline : none;
    }

.gray-bg {
    background-color : #f0f1f3;
    border-top       : 1px solid #eeeeee;
    border-bottom    : 1px solid #eeeeee;
    }

.white-bg {
    background-color : #ffffff;
    }

#main-wrapper {
    background : #ffffff;
    overflow   : hidden;
    }

.header {
    position : absolute;
    left     : 15px;
    right    : 15px;
    top      : 40px;
    z-index  : 9;
    }

/*Logo*/
.navbar-brand {
    padding : 0;
    height  : 75px;
    margin  : 5px 0 !important;
    }

.navbar-brand > .logo {
    background-image: url("../img/logo-resize2.png");
    background-repeat:no-repeat;
    width:170px;
    height: 70px;
    border-image: none;
}

.navbar {
    border-radius  : 0;
    padding        : 30px 0;
    background     : transparent;
    margin         : 0;
    font-size      : 15px;
    text-transform : uppercase;
    }

@media (max-width : 768px) {
    .navbar {
        padding : 10px;
        }
    }

.navbar-toggle {
    margin        : 5px 0;
    padding       : 11px 10px;
    background    : transparent;
    }

.navbar-toggle:hover {
    color: #fff;
    }

.navbar-toggle .icon-bar {
    background: #fff;
    }


.main-menu .navbar-right {
    margin-right : -15px;
    }

.main-menu .nav li a {
    color       : #ffffff;
    font-weight : 500;
    font-size: 17px;
    padding     : 30px 0 15px 30px;
    }

.main-menu .nav li a:hover,
.main-menu .nav li.active a {
    color      : #FF8000;
    background : transparent;
    }

.main-menu .nav li a:focus {
    background : transparent;
    }

@media (max-width : 991px) {
    .main-menu .nav li a {
        padding-left : 15px;
        }
    }

@media (max-width : 768px) {
    .main-menu .nav li {
        text-align : center;
        }

    .main-menu .nav li a {
        padding : 5px 0;
        color: #0e1555;
        }

    .navbar-collapse {
        margin-top : 10px;
        background: #fff;
        }
    }

.sticky-nav {
    position           : fixed;
    right              : 0;
    left               : 0;
    top                : 0;
    z-index            : 999;
    background         : white !important;
    padding            : 5px 0;
    box-shadow         : 0 2px 5px rgba(0, 0, 0, .1);
    -webkit-transition : all .5s ease-in-out;
    -moz-transition    : all .5s ease-in-out;
    transition         : all .5s ease-in-out;
    }

.sticky-nav .nav li a {
    color : #0e1555;
    }

.sticky-nav .navbar-toggle .icon-bar{
    background: #333;
    }
.sticky-nav .logo {
    background-image: url("../img/logo-resize.png");
    background-repeat:no-repeat;
}

@media (max-width: 768px) {
    .sticky-nav{
        padding-left: 10px;
        padding-right: 10px;
        }
    }

.jumbotron {
    background            : url("../img/img-jumbotron-bg.jpg");
    background-size       : cover;
    padding               : 0;
    margin                : 0;
    height                : 100vh;
    min-height            : 700px;
    vertical-align        : middle;
    position              : relative;
    background-attachment : fixed;
    background-repeat     : no-repeat;
    background-position   : center center;
    overflow              : hidden;
    }

.jumbotron .content {
    color             : #ffffff;
    position          : absolute;
    top               : 50%;
    left              : 0;
    right             : 0;
    height            : 30%;
    width             : 100%;
    margin            : 0 auto;
    padding           : 0 10%;
    transform         : translateY(-50%);
    -webkit-transform : translateY(-50%);
    -moz-transform    : translateY(-50%);
    }

.jumbotron .content h1 {
    color       : #ffffff;
    font-weight : bold;
    }

.jumbotron .content p.lead {
    font-size   : 24px;
    line-height : 1.5em;
    color       : rgba(255, 255, 255, .7);
    }

.jumbotron .content .event-date {
    font-size     : 24px;
    margin-bottom : 40px;
    }

.jumbotron .btn {
    margin-top : 40px;
    }

@media (max-width : 600px) {
    .jumbotron .content {
        min-height : auto;
        }

    .jumbotron .content h1 {
        font-size : 26px;
        }

    .jumbotron .content p.lead {
        font-size : 15px;
        }
    }

.section-wrapper {
    padding : 100px 0;
    }

.section-title {
    margin-bottom : 60px;
    text-align    : center;
    }

.section-title h1 {
    margin-bottom : 5px;
    }

.section-title p {
    font-size : 18px;
    color     : #888888;
    }

.about-event .lead {
    font-size   : 19px;
    line-height : 1.7em;
    }

.about-event address {
    font-size   : 15px;
    color       : #888888;
    line-height : 1.8em;
    }

.about-event address strong {
    color : #353e55;
    }

.team .thumbnail {
    padding          : 0;
    line-height      : 22px;
    background-color : transparent;
    border           : 0;
    margin-bottom: 30px;
    }

@media (max-width : 767px) {
    .team .thumbnail {
        margin-bottom : 30px;
        }
    }

.team .thumbnail img {
    width : 100%;
    }

.team .thumbnail .caption {
    padding          : 10px;
    }

.team .thumbnail h3 {
    font-size        : 16px;
    font-weight: bold;

    margin           : 0 40px;
    text-transform   : uppercase;
    padding          : 10px 0;
    }



.team .thumbnail h3 small {
    font-size: 14px;
    color     : #888;
    display: block;
    font-weight: normal;
    }


.team .social-links li {
    display      : inline-block;
    margin-right : 3px;
    }

.team .social-links li:last-child {
    margin-right : 0;
    }

.team .social-links li a {
    display   : block;
    font-size : 14px;
    color     : #ccc;
    padding   : 0 5px;
    }

.team .social-links li a:hover {
    color : #333;
    }

.section-ajenda .session {
    padding       : 15px 0;
    border-left   : 1px solid #eeeeee;
    margin-bottom : 40px;
    }

.section-ajenda .session time {
    padding       : 5px 25px 15px;
    border-bottom : 1px solid #eeeeee;
    display       : inline-block;
    }

.section-ajenda .session h2 {
    margin : 20px 0 0 20px;
    }

.section-ajenda .session h3 {
    margin         : 20px 0 20px 20px;
    font-size      : 20px;
    text-transform : uppercase;
    }

.section-ajenda .session h3 span {
    font-size   : 14px;
    display     : block;
    line-height : 1;
    }

.session .social-links li {
    display      : inline-block;
    margin-right : 3px;
    }

.session .social-links li:first-child {
    margin-right : 0;
    margin-left: 10px;
    }

.session .social-links li a {
    display   : block;
    font-size : 14px;
    color     : #ccc;
    padding   : 0 10px;
    }

.session .social-links li a:hover {
    color : #333;
    }


.client-logo a img {
    width              : 350px;
    height: 150px;
    opacity            : 1;
    padding-left:30px;
    -webkit-transition : all 0.8s ease 0s;
    -moz-transition    : all 0.8s ease 0s;
    -o-transition      : all 0.8s ease 0s;
    transition         : all 0.8s ease 0s;
    }

.client-logo a:hover img {
    opacity : .5;
    }

@media (max-width : 992px) {
    .client-logo .section-margin {
        margin-bottom : 30px;
        }
    }


#googleMap {
    height        : 420px;
    border        : 5px solid #ffffff;
    margin-bottom : 100px;
    }

.footer .copyright-section {
    font-size : 13px;
    color     : #888888;
    padding   : 30px 0;
    }

.footer .copyright-section .copytext {
    font-weight : 400;
    display     : block;
    }

#preloader {
    background : #ffffff;
    bottom     : 0;
    left       : 0;
    position   : fixed;
    right      : 0;
    top        : 0;
    z-index    : 9999;
    }

#status,
.status-mes {
    background-image    : url(../img/preloader.gif);
    background-position : center;
    background-repeat   : no-repeat;
    height              : 200px;
    left                : 50%;
    margin              : -100px 0 0 -100px;
    position            : absolute;
    top                 : 50%;
    width               : 200px;
    }

.status-mes {
    background : none;
    left       : 0;
    margin     : 0;
    text-align : center;
    top        : 65%;
    }
.fa{
    height: 20px;
    width: 20px;
}
