<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section"
    style="background-image: url('{{ site.baseurl }}/img/sections-background/{{ site.heroImage }}');">
    <div class="content-wrapper">
        <div class="jumbotron" style="margin-left:40px;margin-right: 40px;">
            <meta http-equiv="Refresh" content="5; url='https://devopsdays.org/bengaluru'" />
            <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
                <meta http-equiv="Refresh" content="30; url='https://devopsdays.org/bengaluru'" />
                <h1><b>We are returning as DevOpsDays Bengaluru for the 2023 edition!</b></h1>
                <h4><b>Join us at <a href="https://devopsdays.org/bengaluru">devopsdays.org/bengaluru!</a></b></h4>
                <p style="margin-top: 20px; font-weight: 300;"><i>(You will be automatically redirected in some time)</i></p>

            </div>
        </div>
    </div>
</section>
<!-- End Hero Section -->