<!-- Begin Twitter Feed Section -->
<section id="twitter-feed" class="twitter-feed image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.tweetsFeedImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="center">
            <a class="twitter-timeline" data-width="600" data-height="650" href="https://twitter.com/DevOpsDaysIN?ref_src=twsrc%5Etfw">Tweets by DevOpsDaysIN</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</section>
<!-- End Twitter Feed Section -->
