%section.faq-full-screen
  .container
    .row
      .col-md-8
        .brand-header
          Devops Days FAQ

%section.faq-row
  .container
    .row
      .col-md-8.first
        %h4 Q. I had purchased a conference / workshop ticket but now my plan has changed. Will you refund my money?
        %p
          We had mentioned at the time of buying the ticket, that it is non-refundable.
          However, we will try and help you find buyers for your ticket. Once you sell your ticket,
          do inform us the purchaser's name so that we can print the attendee badge in his/her name.

        %h4 Q. Will we be able to tweet about all the devops awesomeness at the conference?
        %p
          Of course you can! Just tag all your tweets #DevOpsDaysIndia

        %h4 Q. How many tracks will the talks be organized into?
        %p
          We love going to conferences that don't make you choose between two great presentations.
          So we created DevopsDays as a single-track event that you don't want to miss and where
          everyone gets the opportunity to see the same talks. We think you'll enjoy the speakers
          we're lining up so much, you won't want to miss anyone of them.

%section.faq-info
  .container
    .row
      .col-md-6.first
        %h4 For more info, contact
        %p
          Satish Talim - +91-8087706501
        %p
          Shobhit Srivastava - +91-9935016288
        %p
          Abhishek Kumar - +91-8007778351

