%footer
  .container
    %p
      &copy; 2016  DevopsDays India, All rights reserved. DevOpsDays India is organised by Emerging Technology Trust
    %p
      Site developed by
      = link_to "CodeMonk", "http://codemonk.in"
