/* line 1, /Users/niranjan/Work/conferences/devopsdays-india/source/stylesheets/base/base.scss */
html, body {
  height: 100%; }

/* line 5, /Users/niranjan/Work/conferences/devopsdays-india/source/stylesheets/base/base.scss */
body {
  padding: 0;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  font-size: 16px; }

/* line 13, /Users/niranjan/Work/conferences/devopsdays-india/source/stylesheets/base/base.scss */
img {
  max-width: 100%; }
